html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

html {
    height: 100%;
}
li{
    list-style-type: none;
}
a {
    text-decoration: none;
}

body {
    background: url('../images/body-bg.png');
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #EAEAEA;

}

/* tables still need cellspacing="0" in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/*

To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.03.2015, 14:27:46
    Author     : vsitaliy
*/
/* INDEX*/
.header{
    display:block;
    background: linear-gradient(to bottom, #959595 0%,#0a0a0a 57%,#4c4c4c 93%,#999999 94%,#070707 97%,#919191 100%);
}
.header strong{
    display: block;
    text-align: center;
    font-size: 22px;
    padding: 10px 0 10px 10px;
}

.wrap {
    height: 100%;
    min-height: 100%;
    width: 100%;
    
}
/*main*/
.main{
    display: block;
    color:white;
    font-size: 22px;
    text-align: center;

}
.login-holder {
    padding: 1.5em 0 0em;
    margin: 0 auto 0;
    width: 90%;
}
.login-holder .row {
    margin: 2em 0;
}
.login-holder .row input, .num, .name-input {
    border-radius: 0.5em;
    line-height: 1.6em;
    font-size: 1.1em;
    padding: 0.5em;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.1em solid gray;
    background-color: lightgray;
}
label {
    padding: 0 0 10px 0;
    display: block;
    font-size: 150%;
    font-weight: bold;
    line-height: 100%;

}
.row span {
    display: none;
}
.login-holder .row button[type=submit] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 120%;
    border-radius: 0.5em;
}
.login-holder .row button span {
    font-size: 150%;
    display: block;
}
.btn {
    display: inline-block;
    padding: 0.1em;
    border-radius: 0.3em;
    color: white;
    text-decoration: none;
    width: 40%;
    height: 3.6em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #7d7e7d;
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
    background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
    background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
    border: 1px solid #0e0e0e;
    box-shadow: 0 0.1em 0.1em 0.01em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
}
/*MAIN menu*/
.main_menu{

}
.main_menu ul{
    display: block;
    text-align: center;
    font-size: 20px;
}
.main_menu ul li{
    padding: 20px 0 0 0;
}
.main_menu a{
    color:white;
}

.logout-btn{
    position: absolute;

    padding: 0.1em 0.3em;
    top: 0;
    font-size: 1.4em;
}
/*adult form*/
.adult_form{
    padding: 0 10px 0 10px;
}
.adult_form .executing{
    display: block;
    padding: 20px 0 0 0;
}
.adult_form h1{
    display: block;
    text-align: center;
    padding-bottom: 20px;
    font-family: serif;
    font-weight: bold;
}
.adult_form li{
    display: block;
    padding-top: 10px;
}
.adult_form .details{
    display: block;
    padding-top: 10px;
}
.adult_form .initials{
    display: block;
    padding-top:10px;
    padding-bottom: 10px;
}
.adult_form .row {
    margin: 2em 0;
    text-align: center;
}
.adult_form .row button[type=submit] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 120%;
    border-radius: 0.5em;
}
.adult_form .row button span {
    font-size: 150%;
    display: block;
}
/*SIGNATURE*/
.paint-holder {
    display:block;
    border: 1px solid #0d0d0d;
    height: 150px;
    width: 99%;
    text-align: center;
    overflow: hidden;
    border-radius: 0.5em;


}
/*Minor form*/
.minor_form .row {
    margin: 2em 0;
    text-align: center;
}
.minor_form .row button[type=submit] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 120%;
    border-radius: 0.5em;
}
.minor_form .row button span {
    font-size: 150%;
    display: block;
}
.minor_footer{
    padding:10px 0 10px 0;
    display: block;
    text-decoration: underline;
    text-align: center;
    line-height: 1.5;
}
.minor_list{
    font-weight: bold;

}
.minor_form{
    padding: 10px 0 0 10px;
}
.top_menu{
    position: absolute;
    top: 5px;
    right: 0;
    width: 8%;
    padding-right: 10px;
    
}